div{
    user-select: none;
   
}
.manualController{
    width:80vw;
    height:150px;
}
.Pads{
    padding-top:10px;
	display: flex;
    justify-content: space-around;
    height:100px;
}
.Pad1{
    padding-left:8vw;
}
.Pad2{
    padding-left:8vw;
}

.scopein{
    top: 190px;
    font-size: 25px;
    left:55px;
    cursor:pointer;
}
.scopeout{
    cursor:pointer;
    top: 190px;
    font-size: 25px;
    left: 10px;
}
.photo{
    cursor:pointer;
    top: 215px;
    left: 25px;
    height:20px;
    width:40px;
}
.createdest{
    position: absolute;
    font-weight: bold;
    top:5px;
    left:44vw;
    cursor:pointer;
    font-size: 10px;
    background-color: rgb(250,250,250);
    height:20px;
    width:70px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 5px #999;
}
.createdest:hover{background-color: rgb(200,200,200)}
.createdest:active{
    box-shadow:0 2px #666;
    transform: translateY(4px);
}
.autopilot{
    cursor:pointer;
    position: absolute;
    font-weight: bold;
    top:40px;
    left:44vw;
    text-align: center;
    width:70px;
    height:20px;
    font-size: 10px;
    background-color: rgb(250,250,250);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 5px #999;
}
.autopilot:hover{background-color: rgb(200,200,200)}
.autopilot:active{
    box-shadow:0 1px #666;
    transform: translateY(4px);
}
.take-off{
    cursor:pointer;
    position: relative;
    font-weight: bold;
    width:70px;
    height:14px;
    left:24vw;
    top:5px;
    padding-top:4px;
    font-size: 11px;
    background-color: rgb(250,250,250);
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 5px #999;
}
.take-off:hover{background-color: rgb(200,200,200)}
.take-off:active{
    box-shadow:0 2px #666;
    transform: translateY(4px);
}
.land{
    cursor:pointer;
    position: relative;
    font-weight: bold;
    top:-14px;
    left:64vw;
    width:70px;
    height:14px;
    background-color: rgb(250,250,250);
    border: 1px solid black;
    text-align: center;
    padding-top:4px;
    font-size: 11px;
    border-radius: 5px;
    box-shadow: 0 5px #999;
}
.land:hover{background-color: rgb(200,200,200)}
.land:active{
    box-shadow:0 2px #666;
    transform: translateY(4px);
}
.ctrlparent{
    position: absolute;
    bottom:0px;
    left: 0px;
}
.controls{
    font-weight: bold;
    font-size:8.5px;
    height:66px;
    width:105px; 
    border: 2px solid;
    border-radius:8px;
}
.ctrlheader{
    padding-top:4px;
    padding-bottom:3px;
    text-align:center;
    border-bottom:1px solid;
}




/*Pad CSS  */




.counterclock{
    width:35px;
    height:35px;
    transform: rotate(45deg);
    padding-top:7px;
    padding-left:2px;
}
.clock{
    position: absolute;
    width:35px;
    height:35px;
    transform: rotate(-135deg);
    padding-bottom:5px;
    padding-right:12px;  
}

.downarrow{
    transform: rotate(135deg);  
    font-size: 22px;
    padding-top:80px;
    padding-right:36px; 
    color:white;
}
.uparrow{
    position: absolute; 
    transform: rotate(-45deg);  
    font-size: 22px;
    padding-left: 2px;
    color: white;
    
}
.down{
    position: absolute;
    transform: rotate(135deg);  
    font-size: 17px;
    padding-left:40px;
    padding-top: 17px;
    color:white;
}
.up{
    transform: rotate(-45deg);  
    font-size: 20px;
    text-align: center;
    width:50px;
    height:30px;
    padding-top: 19px;
    color:white;
}
.diamondtext{
    transform: rotate(45deg);  
    font-size: 28px;
    text-align: center;
    padding-left: 5px;
    padding-top: 7px;
    color:white;
}
.pad1left {
    user-select: none;
    cursor:pointer;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    background: var(--secondary-bg-color);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-shadow: 4px 4px 5px #999; 
}
.pad1left:hover{background-color: rgb(91,155,255)}
.pad1left:active{
    box-shadow:3px 3px 3px #777;
    transform: rotate(-45deg) translateX(2px) translateY(2px);
    
}
.pad1down {
    cursor:pointer;
    position: relative;
    top: -10px;
    left: 40px;
    width: 50px;
    height: 50px;
    background: var(--secondary-bg-color);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg); 
    box-shadow: 4px 4px 5px #999; 
}
.pad1down:hover{background-color: rgb(91,155,255)}
.pad1down:active{
    box-shadow:3px 3px 3px #777;
    transform: rotate(-135deg) translateX(2px) translateY(2px);
}
.pad1right {
    cursor:pointer;
    position: relative;
    top: -100px;
    left: 80px;
    width: 50px;
    height: 50px;
    background: var(--secondary-bg-color);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(135deg); 
    box-shadow: 4px 4px 5px #999; 
}
.pad1right:hover{background-color: rgb(91,155,255)}
.pad1right:active{
    box-shadow:3px 3px 3px #777;
    transform: rotate(135deg) translateX(2px) translateY(2px);
}
.pad1up {
    cursor:pointer;
    position: relative;
    top: -190px;
    left: 40px;
    width: 50px;
    height: 50px;
    background: var(--secondary-bg-color);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(45deg); 
    box-shadow: 4px 4px 5px #999; 
}
.pad1up:hover{background-color: rgb(91,155,255)}
.pad1up:active{
    box-shadow:3px 3px 3px #777;
    transform: rotate(45deg) translateX(2px) translateY(2px);
}

@media(min-width: 850px) {
    .manualController{
        height:50vh;
    }
    .Pads{
        padding-top: 10vh;
        padding-left:10vw;
    }
    .take-off{
        margin-left:6.5vw;
        height:20px;
        width:100px;
        font-size:16px;
    }
    .land{
        margin-left:2.5vw;
        height:20px;
        font-weight:bold;
        font-size:16px;
        
    }
    .createdest{
        left:47vw;
        font-size:14px;
        width:90px;
        height:30px;
    }
    .autopilot{
        left:47vw;
        font-size:14px;
        width:90px;
        height:30px;
    }
    .controls{
        font-size:13px;
        width:170px;
        height:100px;
    }

}
