div{
    user-select: none;
}
.videofeed{
    position: relative;
    border:1px solid black;
    width:100px;
    height:85px;
    border-radius: 10px;
    bottom:0px;
    left:41.5vw;
    top:-90px;
}
.manualController{
    width:80vw;
    height:150px;
}
.Pads{
    padding-top:10px;
	  display: flex;
    justify-content: space-around;
    height:100px;
}
.Pad1{
     padding-left:8vw;
}
.Pad2{
     padding-left:8vw;
}

.scopein{
    position: absolute;
    font-size: 25px;
    right:10px;
    bottom:40px;
    cursor:pointer;
}
.scopeout{
    position: absolute;
    font-size: 25px;
    right:60px;
    bottom:40px;
    cursor:pointer;
}
.photo{
    position: absolute;
    right:20px;
    bottom:20px;
    cursor:pointer;
    height:20px;
    width:40px;
}
.createdest{
    position: absolute;
    font-weight: bold;
    top:5px;
    left:44vw;
    cursor:pointer;
    font-size: 10px;
    background-color: #A7A9A8;
    height:20px;
    width:70px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}
.createdest:hover{background-color: rgb(200,200,200)}
.createdest:active{
    box-shadow:0 2px #666;
    transform: translateY(4px);
}
.autopilot{
    cursor:pointer;
    position: absolute;
    font-weight: bold;
    top:40px;
    left:44vw;
    text-align: center;
    width:70px;
    height:20px;
    font-size: 10px;
    background-color: #A7A9A8;
    border: 1px solid black;
    border-radius: 5px;
}
.autopilot:hover{background-color: rgb(200,200,200)}
.autopilot:active{
    box-shadow:0 1px #666;
    transform: translateY(4px);
}
.take-off{
    cursor:pointer;
    position: relative;
    font-weight: bold;
    width:70px;
    height:14px;
    left:24vw;
    top:5px;
    padding-top:4px;
    font-size: 11px;
    background-color: #A7A9A8;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}
.take-off:hover{background-color: rgb(200,200,200)}
.take-off:active{
    box-shadow:0 2px #666;
    transform: translateY(4px);
}
.land{
    cursor:pointer;
    position: relative;
    font-weight: bold;
    top:-14px;
    left:64vw;
    width:70px;
    height:14px;
    background-color: #A7A9A8;
    border: 1px solid black;
    text-align: center;
    padding-top:4px;
    font-size: 11px;
    border-radius: 5px;
}
.land:hover{background-color: rgb(200,200,200)}
.land:active{
    box-shadow:0 2px #666;
    transform: translateY(4px);
}
.videofeed{
    cursor:pointer;
    position: relative;
    font-weight: bold;
    top:-14px;
    left:64vw;
    width:70px;
    height:14px;
    /* background-color: #A7A9A8; */
    border: 1px solid black;
    text-align: center;
    padding-top:4px;
    font-size: 11px;
    border-radius: 5px;
}
.videofeed:hover{background-color: rgb(200,200,200)}
.videofeed:active{
    box-shadow:0 2px #666;
    transform: translateY(4px);
}
.ctrlparent{
    position: absolute;
    bottom:0px;
    left: 0px;
}
.controls{
    font-weight: bold;
    font-size:8.5px;
    height:66px;
    width:105px;
    border: 2px solid;
    border-radius:8px;
    background-color: #A7A9A8;
}
.ctrlheader{
    padding-top:4px;
    padding-bottom:3px;
    text-align:center;
    border-bottom:1px solid;
}




/*Pad CSS  */




.counterclock{
    transform: rotate(90deg);
    font-size: 43px;
    text-align: center;
    padding-left:5px;
    color:whitesmoke;
}
.clockwise{
    transform: rotate(180deg);
    font-size: 43px;
    padding-bottom:3px;
    padding-left:2px;
    text-align: center;
    color:whitesmoke;
}

.downarrow{
    transform: rotate(135deg);
    font-size: 22px;
    padding-top:80px;
    padding-right:36px;
    color:white;
}
.uparrow{
    position: absolute;
    transform: rotate(-45deg);
    font-size: 22px;
    padding-left: 2px;
    color: white;

}
.down{
    position: absolute;
    transform: rotate(135deg);
    font-size: 17px;
    padding-left:40px;
    padding-top: 17px;
    color:white;
}
.up{
    transform: rotate(-45deg);
    font-size: 20px;
    text-align: center;
    width:50px;
    height:30px;
    padding-top: 19px;
    color:white;
}
.diamondtext{
    transform: rotate(45deg);
    font-size: 28px;
    text-align: center;
    padding-left: 5px;
    padding-top: 7px;
    color:whitesmoke;
}
.pad1left {
    user-select: none;
    cursor:pointer;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    background: blue;
    transform: rotate(-45deg);
    box-shadow: 4px 4px 5px #999;
}
.pad1left:hover{background-color: darkblue}
.pad1left:active{
    box-shadow:3px 3px 3px #777;
    transform: rotate(-45deg) translateX(2px) translateY(2px);

}
.pad1down {
    cursor:pointer;
    position: relative;
    top: -10px;
    left: 40px;
    width: 50px;
    height: 50px;
    background: green;
    transform: rotate(-135deg);
    box-shadow: 4px 4px 5px #999;
}
.pad1down:hover{background-color: darkgreen}
.pad1down:active{
    box-shadow:3px 3px 3px #777;
    transform: rotate(-135deg) translateX(2px) translateY(2px);
}
.pad1right {
    cursor:pointer;
    position: relative;
    top: -100px;
    left: 80px;
    width: 50px;
    height: 50px;
    background: red;
    transform: rotate(135deg);
    box-shadow: 4px 4px 5px #999;
}
.pad1right:hover{background-color: darkred}
.pad1right:active{
    box-shadow:3px 3px 3px #777;
    transform: rotate(135deg) translateX(2px) translateY(2px);
}
.pad1up {
    cursor:pointer;
    position: relative;
    top: -190px;
    left: 40px;
    width: 50px;
    height: 50px;
    background: gold;
    transform: rotate(45deg);
    box-shadow: 4px 4px 5px #999;
}
.pad1up:hover{background-color: darkgoldenrod}
.pad1up:active{
    box-shadow:3px 3px 3px #777;
    transform: rotate(45deg) translateX(2px) translateY(2px);
}

@media(min-width: 850px) {
    .manualController{
        height:50vh;
    }
    .Pad2{
        padding-left:40vw;
    }
    .Pads{
        padding-top: 10vh;
        padding-left:10vw;
    }
    .take-off{
        margin-left:-1vw;
         margin-top:10px;
        height:20px;
        width:100px;
        font-size:16px;
    }
    .land{
        margin-left:10.7vw;
        /* margin-bottom:10px; */
        top:-20px;
        height:20px;
        font-weight:bold;
        font-size:16px;

    }
     .videofeed{
         display: flex;
         align-items: center;
         justify-content: space-around;
        font-weight:bold;
        font-size:48px;
        
    }
    .createdest{
        left:47vw;
        font-size:14px;
        width:90px;
        height:30px;

    }
    .autopilot{
        left:47vw;
        font-size:14px;
        width:90px;
        height:30px;
    }
    .controls{
        font-size:13px;
        width:170px;
        height:100px;
    }
    .videofeed{
        left:37vw;
        height:35vh;
        width:32vw;
        top:-160px;
    }
    .ctrlparent{
        left:5px;
        bottom:5px;
    }
}
@media (min-width: 1000px){
    .videofeed{
        left:35.5vw
    }
}
