.techHeading {
    margin-top:20px;
    display: flex;
    justify-content: center;
    width:100%;
    margin-bottom:15px;
    font-size:45px;
}

.h2 {
    display: flex;
    justify-content: center;
    width:100%;
    font-size: 20px;
}

#techDroneImg {
    width: 170px;
    height: 150px;
}
.scriptbox{
    display: flex;
    justify-content: center;
    width:100%;
}
.description{
    width:200px;
}
.techList{
    margin-top: 10px;
    margin-left:10vw;
    margin-bottom:10px;
}
li{
    margin-top:5px;
    margin-left: 10vw;
}
.techDrone{
    display: flex;
    justify-content: center;
    width:100%;
}
