
h1.homeHeader {
    text-align: center;
    margin-top: 4vh;
    letter-spacing: 1px;
}

.bannerContain {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: column;
  margin-top: 0vh;

}

.bannerPiece {

}

.bannerPiece img {
    max-width: 240px;
}
.bannerPiece h2 {
    text-align: center;
    position: relative;
    top: 113px;
    background: black;
    margin: auto;
    color: white;
    width: 30%;
    padding: 4px;
}
.firstB  {


}


.secondB {


}


.thirdB {


}

.homeHeadingContain {
    text-align: center;
    background: var(--extra-color);
    margin-top: 16%;
    height: 102px;
    line-height: 2.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    border-top: 1px solid #9f9fdb;
    border-bottom: 1px solid #9f9fdb;
}

.homeHeadingContain h3 {
    font-size: 1.4em;
}





div#mapDiv {
    height: 100vh;
    pointer-events: all !important;
}


#mapBG {
    height: 100vh;
}

div#dronediv {
    max-height: 100vh;
    display: flex;
}

#mapBG img {
    background-size: cover;
    height: 100vh;
    background-position: inherit;
    overflow: hidden;
    width: 100%;
}

#takeFlightBox {
    width: 100%;
    text-align: center;
    margin: 50% auto;
    text-decoration: none;
}

#takeFlight {
    border: #FAB2E6 2px solid;
    padding: 12px;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.78);
    color: white;
    font-size: 1.5em;
    width: 185px;
    font-weight: 600;
    cursor: pointer;
}
 #takeFlight a{
     text-decoration: none;
     color: white;
}

#takeFlight:hover {
    background: rgba(255, 255, 255, 0.76);
    border: var(--primary-bg-color) 3px dotted;
}
#takeFlight a:hover{
    color: black;
}











.panels {
  min-height:100vh;
  overflow: hidden;
  display: flex;
}
.panel {
  background:#6B0F9C;
  box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
  color:white;
  text-align: center;
  align-items:center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 20px;
  background-size:cover;
  background-position:center;
  flex:1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.panel1 { background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500); }
.panel2 { background-image:url(https://source.unsplash.com/1CD3fd8kHnE/1500x1500); }
.panel3 { background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); }
.panel4 { background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }
.panel5 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }

/*Flex Items */
    .panel > * {
      margin:0;
      width: 100%;
      transition:transform 0.5s;
      flex: 1 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .panel > *:first-child {transform: translateY(-100%);}
    .panel.open-active > *:first-child {transform: translateY(0);}
    .panel > *:last-child {transform: translateY(100%);}
    .panel.open-active > *:last-child {transform: translateY(0);}
    .panel p {
      text-transform: uppercase;
      font-family: 'Amatic SC', cursive;
      text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
      font-size: 2em;
    }
    .panel p:nth-child(2) {
      font-size: 4em;
    }
    .panel.open {
      font-size:40px;
      flex: 5;
    }
    @media (max-width: 500px) {
      .panel {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }

















@media only screen and (min-width: 500px) {
  h1.homeHeader {
    text-align: center;
    margin-top: 5%;
    letter-spacing: 2px;
    font-size: 2em;
}

.bannerContain {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 8vh;
  justify-content: space-around;
}

.bannerPiece {
  width: 30%;
}

.bannerPiece img {
  max-width: 88%;
  border-radius: 110px;
}
.homeHeadingContain h3 {
  font-size: 2em;
  margin-top: 30px;
}

.homeHeadingContain {
    height: 153px;
}
.homeHeadingContain h4 {
    line-height: 4em;
}

.bannerPiece h2 {
  text-align: center;
  position: relative;
  top: 50%;
  background: black;
  margin: auto;
  color: white;
  width: 30%;
  padding: 7px;
  border-radius: 12px;
}

.homeHeadingContain {

  margin-top: 92px;

}

div#dronediv {
    margin-left: 10%;
}

#takeFlightBox {
    width: 100%;
    text-align: center;
    margin: 20% 20%;
}

}
