h1{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 30px;
    margin-bottom: 30px;
}
h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
img{
    padding-bottom: 20px;
}

.steen-about-pics{
        width: 346px;
        height:461px;
}
.about-pics {
    height:68vh;
    
}

.top-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
}

.bottom-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
     padding-bottom: 70px;
}

 