.team-background{
    /* position: absolute; */
    /* height: 190%; */
    width: 100%;
    /* opacity: 0.9; */
    /* z-index: -1; */
}

.team-names{
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-bottom:20px;
}

.team-title{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 30px;
}

.team-title h1{
    padding-top:15px; 
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: relative; 
    bottom: 57%; 
    left: 73%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
.middle-steen {
    transition: .5s ease;
    opacity: 0;
    position: relative; 
    bottom: 32%; 
    left: 73.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.steen{
    width: 346px;
    height:461px;
    padding-bottom: 60px;
}
.dallin{
    width: 345px;
    height: 250px;
    padding-bottom: 272px;
}
.sean{
    width: 345px;
    height: 250px;
}
.jacob{
    width: 345px;
    height: 250px;
}
 .our-text{
    background-color: #800000;
    color: white;
    opacity: 0.8;
    font-size: 14px;
    padding: 16px 32px;
    height: 11vh;
    width:120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: inherit;
} 
.linkedIn{
    /* display: block; */
    height:30px;
    width:30px;
    /* padding-bottom: -65px; */
}
.linkedIn:hover {
   /* color:red; */
    height:32px;
    width:32px; 
  
}

.steen:hover .steen-team-pics {
 display: block;
 opacity: 0.3;

    
}
.steen:hover .middle-steen{
    opacity: 1;
    /* margin-top: 30%; */
}

.dallin:hover .team-pics {
 display: block;
 opacity: 0.3;
 /* display: flex;
 align-items: baseline; */

    
}
.dallin:hover .middle{
    opacity: 1;
}

.jacob:hover .team-pics {
 display: block;
 opacity: 0.3;

    
}
.jacob:hover .middle{
    opacity: 1;
}
.sean:hover .team-pics {
 display: block;
 opacity: 0.3;

    
}
.sean:hover .middle{
    opacity: 1;
}

.full-page {
    color: black;
    height:112vh;
}

.steen-team-pics{
  width: 209px;
  height: 239px;
  border-radius: 67px;
  /* transition: .5s ease;
  backface-visibility: hidden;
  opacity: 1;
  display: block; */

}
.team-pics {
   width: 209px;
    height: 239px;
    border-radius: 67px;
    
    
    
    
}

.top-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -185px;
    z-index: 9000;
    margin-top:-35px;

}

.bottom-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3px;
     padding-bottom: 70px;
     z-index:9000;
}

 