.team-background{
    position: absolute;
     background-color: var(--secondary-bg-color);
     height: 190%;
     width: 100%;
     opacity: 0.9;
     z-index: -1;
}
    .team-names{
        font-size: 30px;
        display: flex;
        justify-content: center;
    }

.team-title{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 30px;
}
.team-title h1{
    padding-top:15px; 
}
.middle {
    transition: .5s ease;
  opacity: 0;
   position: relative; 
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.middle {
    transition: .5s ease;
  opacity: 0;
   position: relative; 
   bottom: 50%; 
   left: 50%; 
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.steen{
     width: 346px;
        height:461px;
}
    .dallin{
        width: 345px;
        height: 459px;
    }
    .sean{
width: 345px;
        height: 459px;
    }
    .jacob{
width: 345px;
        height: 459px;
    }
.our-text{
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    height: 15vh;
    width:282px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkedIn{
    height:30px;
    width:30px;
    padding-top: 10px;
    

}

.steen:hover .steen-team-pics {
 display: block;
 opacity: 0.3;

    
}
.steen:hover .middle{
    opacity: 1;
}

.dallin:hover .team-pics {
 display: block;
 opacity: 0.3;
 display: flex;
 align-items: baseline;

    
}
.dallin:hover .middle{
    opacity: 1;
}

.jacob:hover .team-pics {
 display: block;
 opacity: 0.3;

    
}
.jacob:hover .middle{
    opacity: 1;
}
.sean:hover .team-pics {
 display: block;
 opacity: 0.3;

    
}
.sean:hover .middle{
    opacity: 1;
}

.full-page {
    color: whitesmoke;
    height:190vh;
}

.steen-team-pics{
        width: 346px;
        height:461px;
        transition: .5s ease;
  backface-visibility: hidden;
  opacity: 1;
  display: block;
  border-radius: 90px;
}
.team-pics {
    height:68vh;
    border-radius: 90px;
    
    
    
    
}

.top-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
    z-index: 9000;
}

.bottom-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 73px;
     padding-bottom: 70px;
     z-index:9000;
}

 