
footer {
    display: flex;
    flex-direction: column;
    border-top: #03A9F4 solid 2px;
}

.footerRow {
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    margin-top: 1em;
}

.footerMenu {
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
  }
.footerMenu a {
    text-decoration: none;
    color: black;
}




.footerMenuRow {
    line-height: 2em;
}

.fmenuItem {
    padding: 3px;
    text-align: center;
}

.fmenuItem h4:hover {
    transition: .3s;
    background: var(--primary-bg-color);
    color: white;
}

.relevant {
    line-height: 2em;

}


.rLinks {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.rLinks a {
    text-decoration: none;
    color: black;
}
.rLinks a:hover {
    color: var(--primary-bg-color);
}


.copyContain {
    text-align: center;
    margin: 2em 0;
    font-size: .8em;
}




@media only screen and (min-width: 500px) {
  .fmenuItem{
    width: 70px;
  }
  .fmenuItem:hover {
      letter-spacing: 2px;
  }

  .rLinks a:hover {

      transition: .3s;
  }


}
